@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style-type: none;
}

html,
body {
    min-height: 100vh; /* ocupa 100% da tela */
}

body {
    font-family: 'Roboto', sans-serif;
}